{% extends 'root/base.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block body %}
    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}
    <main class="main">
        <div class="responsive-wrapper">
            <div class="main-content">
                <div class="cards">
                    <div class="card-single">
                        <div>
                            <h1>{{ total_users }}</h1>
                            <span>Users</span>
                        </div>
                        <div>
                            <span class="fas fa-users"></span>
                        </div>
                    </div>
                    <div class="card-single">
                        <div>
                            <h1>{{ total_projects }}</h1>
                            <span>Projects</span>
                        </div>
                        <div>
                            <span class="fas fa-clipboard-list"></span>
                        </div>
                    </div>
                    <div class="card-single">
                        <div>
                            <h1>{{ total_tasks }}</h1>
                            <span>Tasks</span>
                        </div>
                        <div>
                            <span class="fa fa-tasks"></span>
                        </div>
                    </div>
                    <div class="card-single">
                        <div>
                            <h1>$50K</h1>
                            <span>Amount</span>
                        </div>
                        <div>
                            <span class="fas fa-wallet"></span>
                        </div>
                    </div>

                </div>

                <div class="recent-grid">
                    <div class="projects">
                        <div class="card">
                            <div class="card-header">
                                <h2>Popular Projects</h2>
                                <a href="{% url 'view_projects' 1 %}">
                                    <button>See all <span class="fas fa-arrow-right"></span></button>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table width="100%">
                                        <thead>
                                        <tr>
                                            <td>Project Title</td>
                                            <td>Acronym</td>
                                            <td>Status</td>
                                            <td>High</td>
                                            <td>Medium</td>
                                            <td>Low</td>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for project in latest_projects %}
                                            <tr>
                                                <td>{{ project.name }}</td>
                                                <td>{{ project.acronym }}</td>
                                                <td>
                                                    {% if project.is_completed %}
                                                        <span class="status green"></span>
                                                        Completed
                                                    {% else %}
                                                        <span class="status red"></span>
                                                        Pending
                                                    {% endif %}
                                                </td>
                                            <td>{{ project.task_high }}</td>
                                            <td>{{ project.task_medium }}</td>
                                            <td>{{ project.task_low }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin-top: 3.5rem">
                            <div class="card-header">
                                <h2>Recent Tasks</h2>
                                <a href="#">
                                    <button>See all <span class="fas fa-arrow-right" aria-hidden="true"></span></button>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table width="100%">
                                        <thead>
                                        <tr>
                                            <td>Task Title</td>
                                            <td>Acronym</td>
                                            <td>Status</td>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for task in latest_tasks %}
                                            <tr>
                                                <td>{{ task.name }}</td>
                                                <td>{{ task.task_acronym }}</td>
                                                <td>
                                                    {% if task.task_status == "TODO" %}
                                                        <span class="status red"></span>
                                                        TODO
                                                    {% elif task.task_status == "Completed" %}
                                                        <span class="status green"></span>
                                                        Completed
                                                    {% else %}
                                                        <span class="status orange"></span>
                                                        In progress
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="customers">
                        <div class="card">
                            <div class="card-header">
                                <h2>New Users</h2>
                                {% if request.user.is_owner %}
                                <a href="{% url 'view_users' 1 %}">
                                    <button>See all <span class="fas fa-arrow-right"></span></button>
                                </a>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                {% for user in latest_users %}
                                    <div class="customer">
                                        <div class="info">
                                            <img src="{{ user.image.url }}" height="40px" width="40px" alt="customer">
                                            <div>
                                                <h4>{{ user.firstname }}&nbsp;{{ user.lastname }}</h4>
                                                <small>CEO</small>
                                            </div>
                                        </div>
                                        <div class="contact">
                                            <span class="fas fa-user-circle"></span>
                                            <span class="fas fa-comment"></span>
                                            <span class="fas fa-phone-alt"></span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}