thead {
    color: #404089;
}

td:hover {
    color: #434ce8;
}

table {
    margin-top: 5%;
}

.submit {
    background-color: #404089;
}

.submit:hover {
    background-color: #434ce8;
}

.close {
    border: none;
    background: #FFFFFF;
}