@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    background: #f8f8f8;
    font-family: "Be Vietnam Pro", sans-serif;
}

.maindiv {
    margin-top: 20px;
}

.disflex {
    display: flex;
}

.sub {
    background-color: #404089;
}

.sub:hover {
    background-color: #434ce8;
}

input[type="file"] {
    display: none;
}