{% extends 'root/base.html' %}
{% load static %}

{% block title %}
    Edit tasks
{% endblock title %}

{% block styles %}
    <link href="{% static 'css/add_project.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock styles %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'update_tasks' %}" method="post">
            {% csrf_token %}
            {% if tasks.created_by == request.user %}
            <input type="hidden" name="task_id" value="{{ tasks.id }}">
                <fieldset>
                    <legend><span class="number">1</span> Your Task Info</legend>

                    <label for="taskname">Task Name:</label>
                    <input type="text" id="taskname" name="task_name" value="{{ tasks.name }}">

                    <label for="acronym">Task Acronym:</label>
                    <input type="text" id="acronym" name="task_acronym" value="{{ tasks.task_acronym }}" disabled>

                     <label for="task-type">Task Type:</label>
                        <select name="task-type" id="task-type">
                            <option value="task">Task</option>
                            <option value="bug">Bug</option>
                        </select>

                    <label for="related-project-name">Related project</label>
                    <select id="related-project-name" name="related-project-name">
                        {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="assignee">Task Assignee</label>
                    <select id="assignee" name="assignee">
                        <option value="{{request.user.id}}" selected> {{ request.user.username }}</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>

                     <label for="task-status">Task Status:</label>
                         <select name="task-status" id="task-status">
                            <option value="todo" >To-Do</option>
                            <option value="in-progress" >In-progress</option>
                            <option value="completed">Completed</option>

                         </select>

                     <label for="task-priority">Task Priority:</label>
                            <select name="task-priority" id="task-priority">
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>

                            </select>

                </fieldset>

                <button type="submit">Update Project</button>

                {% else %}

                        <input type="hidden" name="task_id" value="{{ tasks.id }}">
                <fieldset>
                    <legend><span class="number">1</span> Your Task Info</legend>

                    <label for="taskname">Task Name:</label>
                    <input type="text" id="taskname" name="task_name" value="{{ tasks.name }}" disabled>

                    <label for="acronym">Task Acronym:</label>
                    <input type="text" id="acronym" name="task_acronym" value="{{ tasks.task_acronym }}" disabled>

                     <label for="task-type">Task Type:</label>
                        <select name="task-type" id="task-type" disabled>
                            <option value="task">Task</option>
                            <option value="bug">Bug</option>
                        </select>

                    <label for="related-project-name">Related project</label>
                    <select id="related-project-name" name="related-project-name" disabled>
                        {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="assignee">Task Assignee</label>
                    <select id="assignee" name="assignee" disabled>
                        <option value="{{request.user.id}}" selected> {{ request.user.username }}</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>

                     <label for="task-status">Task Status:</label>
                         <select name="task-status" id="task-status">
                            <option value="todo">To-Do</option>
                            <option value="in-progress">In-progress</option>
                            <option value="completed" >Completed</option>

                         </select>

                     <label for="task-priority">Task Priority:</label>
                            <select name="task-priority" id="task-priority" disabled>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>

                            </select>

                </fieldset>

                <button type="submit">Update Project</button>



                {% endif %}
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/add_project.js' %}"></script>
{% endblock body %}