{% extends 'root/base.html' %}
{% load static %}

{% block title %}
Tasks
{% endblock title %}

{% block styles %}
<link href="{% static 'css/task.css' %}" rel="stylesheet" type="text/css">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">-->
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">-->

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->

{% endblock styles %}

{% block body %}
<!-- <h1 class="bold">Tasks Summary.</h1>-->
<!--<hr>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->

<main class="main">

    <div class="responsive-wrapper">

        <div class="content-header">

            <div class="content-header-actions">
                <a href="#" class="button">
                    <i class="ph-faders-bold"></i>
                    <span>Filters</span>
                </a>

            </div>

                        <form name="filter-form" method="get" class="filter-form" id="filter-form">
                                 {% csrf_token %}
                                <label for="task_filter" style="margin-left:-130%;">Filter Using Project  : </label>
                                <select id="task_filter" name="task_filter" style="margin-left:3%;">
                                    <option selected disabled=true> Select project</option>
                                    {% for project in projects %}
                                        <option value="{{ project.name }}">{{ project.name }}</option>
                                    {% endfor %}
                                </select>
                             <input type="hidden" id="filter-url" data-url="{% url 'filter_tasks' %}">
                        </form>

     



            <div class="search">
                <form method="get" id="search-form" action="#" style="width: inherit;">
                    {% csrf_token %}
                    <input id="search-input" type="text" placeholder="Search" name="search" value="{{ name }}"/>
                    <button type="submit">
                        <i class="ph-magnifying-glass-bold"></i>
                    </button>
                </form>

                <input type="hidden" id="search-url" data-url="{% url 'search_tasks' %}">
                <input type="hidden" id="edit-url" data-url="{% url 'edit_tasks' 1 %}">
            </div>

        </div>
    </div>
</main>
<br>

<table id="example" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Task Type</th>
<!--        <th> Acronym</th>-->
        <th>Task Name</th>
        <th>Project</th>
        <th>Task Priority</th>
        <th>Task Status</th>
        <th>Update</th>

    </tr>
    </thead>
    <tbody id="outer">
    {% for task in page_obj %}

    {% if task.task_type == "bug" %}
    <tr style="color: red">
        <td>
            <i class="fa fa-bug"></i>
        </td>
<!--        <td> {{ task.task_acronym }}</td>-->
        <td>{{ task.task_acronym }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ task.name }}</td>
        <td> {{ task.project.name }}</td>

        {% if task.task_priority == "hi" %}
        <td>
            <button type="button" class="btn btn-outline-danger">High</button>
        </td>
        {% elif task.task_priority == "medium" %}
        <td>
            <button type="button" class="btn btn-outline-primary">Medium</button>
        </td>
        {% else %}
        <td>
            <button type="button" class="btn btn-outline-success">Low</button>
        </td>
        {% endif %}



        {% if task.task_status == "todo" %}
        <td>
            <button type="button" class="btn btn-outline-danger">To-Do</button>
        </td>
        {% elif task.task_status == "in_progress" %}
        <td>
            <button type="button" class="btn btn-outline-primary">In Progress</button>
        </td>
        {% else %}
        <td>
            <button type="button" class="btn btn-outline-success">Completed</button>
        </td>
        {% endif %}


        <td><a href="{% url 'edit_tasks' task.id %}"><i class="fas fa-edit"></i></a></td>
    </tr>
    {% else %}
    <tr style="color: green">
        <td>
            <i class="fa fa-tasks"></i>
        </td>
<!--        <td> {{ task.task_acronym }}</td>-->
        <td>{{ task.task_acronym }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ task.name }}</td>
        <td> {{ task.project.name }}</td>

        {% if task.task_priority == "hi" %}
        <td>
            <button type="button" class="btn btn-outline-danger">High</button>
        </td>
        {% elif task.task_priority == "medium" %}
        <td>
            <button type="button" class="btn btn-outline-primary">Medium</button>
        </td>
        {% else %}
        <td>
            <button type="button" class="btn btn-outline-success">Low</button>
        </td>
        {% endif %}


        {% if task.task_status == "todo" %}
        <td>
            <button type="button" class="btn btn-outline-danger">To-Do</button>
        </td>
        {% elif task.task_status == "in_progress" %}
        <td>
            <button type="button" class="btn btn-outline-primary">In Progress</button>
        </td>
        {% else %}
        <td>
            <button type="button" class="btn btn-outline-success">Completed</button>
        </td>
        {% endif %}


        <td><a href="{% url 'edit_tasks' task.id %}"><i class="fas fa-edit"></i></a></td>
    </tr>
    {% endif %}
    {% endfor %}

    </tbody>
</table>

<!--</div>-->


{% if messages %}
<script>
    {% for message in messages %}
    alert("{{ message }}");
    {% endfor %}
</script>
{% endif %}

<!-- Pagination-->
<nav aria-label="Page navigation example" id="navbar">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'view_tasks' 1 %}" tabindex="-1">&laquo; First</a>
        </li>
        {% if has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% url 'view_tasks' previous_page_no %}" tabindex="-1">&lt;
                Previous</a>
        </li>
        {% endif %}
        {% for page_number in elided_pages %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
        <li class="page-item">
            <a class="page-link" href="#">...</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{% url 'view_tasks' page_number %}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if has_next %}
        <li class="page-item">
            <a class="page-link" href="{% url 'view_tasks' next_page_no %}">Next &gt;</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="{% url 'view_tasks' last_page %}" tabindex="-1">Last &raquo;</a>
        </li>
    </ul>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<!--    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->
<!--    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>-->
<!--    <script type="text/javascript" src="{% static 'js/task.js' %}"></script>-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#search-form').keyup(function (event) {
            event.preventDefault();
            let query = $('#search-input').val();
            let url = $('#search-url').attr('data-url');
            get_tasks(1, query, url);
        });
        $('#task_filter').change(function (event) {
            event.preventDefault();
            let query = $('#task_filter').val();
            let url = $('#filter-url').attr('data-url');
            get_tasks(1, query, url);
        });
    });

    function get_tasks(page_no, query, url) {
        let current_request = null;
        let nav = '';
        console.log('pageno=', page_no)
        current_request = $.ajax({
            url: url,
            type: 'GET',
            data: 'query=' + query + '&page_no=' + page_no,
            beforeSend: function () {
                if (current_request != null) {
                    current_request.abort();
                }
            },
            success: function (data) {
                console.log(data)
                $('#outer').empty()
                $('#navbar').empty()
                console.log(data.page_obj[0].task_type)
                let res_data = '';
                for (var i = 0; i < data.page_obj.length; i++) {
                    let edit_task = $('#edit-url').attr('data-url');
                    let edit_url = edit_task.replace("1", data.page_obj[i].pk);
                    let status = ''
                    let priority = ''
                    if (data.page_obj[i].task_status == "todo") {
                        status = '<td>\n' +
                            '         <button type="button" class="btn btn-outline-danger">To-Do</button>\n' +
                            '        </td>\n'
                    } else if (data.page_obj[i].task_status == "in-progress") {
                        status = '<td>\n' +
                            '            <button type="button" class="btn btn-outline-primary">In Progress</button>\n' +
                            '        </td>\n'
                    } else {
                        status = '<td>\n' +
                            ' <button type="button" class="btn btn-outline-success">Completed</button>\n' +
                            ' </td>\n'
                    }

                    if(data.page_obj[i].task_priority == "hi"){
                        priority = '<td>\n' +
                            '            <button type="button" class="btn btn-outline-danger">High</button>\n' +
                            '        </td>'
                    }
                    else if(data.page_obj[i].task_priority =="medium"){
                        priority= ' <td>\n' +
                            '            <button type="button" class="btn btn-outline-primary">Medium</button>\n' +
                            '        </td>'
                    }
                    else{
                        priority = '<td>\n' +
                            '            <button type="button" class="btn btn-outline-success">Low</button>\n' +
                            '        </td>'
                    }


                    if (data.page_obj[i].task_type == "bug") {
                        res_data += '    <tr style="color: red" >\n' +
                            '        <td>\n' +
                            '            <i class="fa fa-bug"></i>\n' +
                            '        </td>\n' +
                            '        <td>' + data.page_obj[i].task_acronym +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+ data.page_obj[i].name + '</td>\n' +
                            '        <td>' + data.page_obj[i].project__name + '</td>\n' + priority + status +
                            '<td><a href=' + edit_url + '><i class="fas fa-edit"></i></a></td>' +
                            '    </tr>\n'
                    } else {
                        res_data += '    <tr style="color: green" >\n' +
                            '        <td>\n' +
                            '            <i class="fa fa-bug"></i>\n' +
                            '        </td>\n' +
                            '        <td>' + data.page_obj[i].task_acronym + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + data.page_obj[i].name + '</td>\n' +
                            '        <td>' + data.page_obj[i].project__name + '</td>\n' + priority + status +
                            '        <td>' + '<a href=' + edit_url + '>'+'<i class="fas fa-edit"></i></a></td>' +
                            '    </tr>\n'
                    }
                }
                $('#outer').html(res_data)
                let next = '';
                let previous = '';
                if (data.has_previous) {
                    previous = '<li class="page-item">' +
                        '<a class="page-link paginator" href="#" page_no=' + data.previous_page_no + ' tabindex="-1">&lt;Previous</a>' +
                        '</li>'
                }
                if (data.has_next) {
                    next = '<li class="page-item">' +
                        '<a id="next" class="page-link paginator" href="#" page_no=' + data.next_page_no + '>Next &gt;</a>' +
                        '</li>'
                }
                nav = '<ul class="pagination justify-content-center">' +
                    '<li class="page-item">' +
                    '<a class="page-link paginator" href="#" page_no=1 tabindex="-1">&laquo; First</a>' +
                    '</li>' +
                    previous +
                    '<li class="page-item"><a class="page-link paginator" href="#" page_no=' + data.current_page + '>' + data.current_page + '</a></li>' +
                    next +
                    '<li class="page-item">' +
                    '<a class="page-link paginator" href="#" page_no=' + data.last_page + ' tabindex="-1">Last &raquo;</a>' +
                    '</li>' +
                    '</ul>'
                $('#navbar').html(nav)
            },
            complete: function() {
                current_request = null;
            }
        });
    }


    $(document).on('click', '.paginator', function () {
        get_tasks($(this).attr('page_no'))
    });
</script>




{% endblock body %}
