{% extends 'root/base.html' %}
{% load static %}

{% block title %}
    Change Password
{% endblock title %}

{% block styles %}
    <link href="{% static 'css/change_password.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block body %}
    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}
    <main class="main">
        <div class="table-responsive responsive-wrapper">
            <div class="change-password-modal">
                <h2 class="modal-header">Change Password</h2>
                <section class="modal-body">
                    <main id="password-box">
                        <form action="{% url 'edit_password' %}" method="post">
                            {% csrf_token %}
                            <h1>An Admin Has Requested a Password Change</h1>
                            <input type="password" value="" placeholder="Password" id="password" class="password" name="password">
                            <input type="password" value="" placeholder="Confirm Password" id="confirm-password"
                                   class="password" name="new_password_again">
                            <input type="hidden" value="{{ request.user.id }}" name="user_id_reset">
                            <div id="password-strength">
            <span class="">
                <div>Password Strength --------></div>
            </span>
                            </div>
                            <button type="submit" class="submit-password" disabled>Submit</button>
                        </form>
                    </main>
                    <div class="password-guidelines">
                        <h3 class="guidelines-header">Password Guidelines</h3>
                        <h4 class="guidelines-sub-header">Eg: MY@password123</h4>
                        <div class="guidelines-description">
                            <p>Must contain Eight character</p>
                            <p>Must contain a Lowercase character</p>
                            <p>Must contain a Capital character</p>
                            <p>Must contain Number</p>
                            <p>Must contain Symbol </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
     <script src="{% static 'js/change_password.js' %}"></script>
{% endblock body %}